numpy>=1.22.3
opencv-python>=4.5.5.64
Pillow>=9.1.0
pyaml>=21.10.1
scikit-image>=0.19.2
scikit-learn>=1.0.2
scipy>=1.8.0
tensorboard>=2.8.0
tensorboard-data-server>=0.6.1
tensorboard-plugin-wit>=1.8.1
tensorboardX>=2.5
tensorflow-cpu>=2.8.0
torch>=1.10.2+cu102
torchaudio>=0.10.2+cu102
torchsummary>=1.5.1
torchvision>=0.11.3+cu102
tqdm>=4.63.0

